h1, h2, table, canvas {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

/* tableの設定 */
table {
    border-collapse: collapse;
    border: 1px solid #000000;
    table-layout: fixed;
}

/* th,tdの設定 */
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
    border-color: rgb(104, 95, 95);
}
  
th {
    background-color:darkcyan;
    color: white;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}